.c1xlh376{padding:30px;background:pink;}
.l149pqmv{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:0 auto;max-width:1000px;}
.i534zbq{position:relative;margin-right:30px;padding-top:calc((100% - (30px * 3) ) / 4);width:calc((100% - (30px * 3) ) / 4);}.i534zbq:last-of-type{margin-right:0;}
.i15p8fpg{position:absolute;inset:0;display:block;width:100%;border-radius:10px;box-shadow:5px 5px 0 0 rgb(0 0 0 / 15%);background:var(--i15p8fpg-0);}
.n1kv9l5d{color:#000;}
